

body{
  background-color: white;
   background-image: url('./icons/footer.png');
   background-repeat: no-repeat;background-attachment: scroll;
   background-size: cover;
}

@media screen and (max-width: 860px) {
  body{
    background-image:none;
  }
}

.mnn{
  display: flex;
  flex-direction: row;
}





  
  
  .calendar-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    
  }
  
  .calendar{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    width: 300px;
    position: absolute;
    z-index: 1;
    display: none;

  }
  .header {
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
  #prevBtn,
  #nextBtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  #monthYear {
    font-size: 18px;
    font-weight: bold;
  }
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
 
  }
  .day {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  .day.current {
    background-color: #3498db;
    color: white;
  }
  .day.selected {
    background-color: #2ecc71;
    color: white;
  }
  #dateInput {
    width: 50%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline:none;
    cursor: pointer;
    text-align: center;
  }
  #dateInput:hover {
    background-color: #2980b9;
  }
  #dateInput:active {
    background-color: #2980b9;
  }
  #dateInput:focus {
    background-color: #2980b9;
  }
  #dateInput::placeholder {
    color: white;
  }
  #dateInput::-webkit-input-placeholder {
    color: white;
  }
  #dateInput::-moz-placeholder {
    color: white;
  }
  #dateInput:-ms-input-placeholder {
    color: white;
  }
  #dateInput:-moz-placeholder {
    color: white;
  }
  .calendar-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    margin-top: 100px ;
    margin-left: 100px;
    background-color: #DFF6FF;
  }






  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.bbtn{
  background-color: #2980b9;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size:large;
  width: 35px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}
.bbtn:hover{
  background-color: #3498db;
}
.bbtn:active{
  background-color: #0e4d78;
}
.NumOfPersons{
  background-color: #DFF6FF;
  color: black;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size:large;
  width: 70px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}




.flightCard{
  background-color: #DFF6FF;
  width:650px;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  /* border: 0.5px solid black; */
}