*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
  scroll-behavior: smooth;
  }
#menu{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 100px;
    z-index: 10000;
  }

/* body{
    margin-top: 5%;
    margin-left: 1%;
} */


p,pre{
    font-size: xx-large;
    margin: 0px;
}

#rightblock{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    
 }

  .menuItem{
    text-decoration: none;
    color: #fff;
  }

  .maindiv{
    margin-bottom: 800px;
  }


  .menuItem:hover:not(#coma){
    background-color: #fff;
    border-radius: 20px;
    color:black;
    padding: 10px;
  }

  body{
    background-color: #000000;
  }
   
   .card{
    background-color:rgba(0, 0, 0, 0.8);
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.685) ;
  }
  #logoimg{
      width: 100px;
      height: 30px;
      margin-right: 15px;
      margin-left: 10px;
      padding: 7px;
      cursor: pointer;
  }
  #Back{
    position: absolute;
    width: 100%;
    height: 750px;
    top:5%;
    left:0%;
    color:white;

    background-image: url('BackGR.png');
    
    z-index: -1;
  }

  body {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    /* margin-left: 10%; */
  }

  #logodisc{
    width: 325px;
    height: 140px;
    /* transform: translate(20%,120%); */


  }


  #bookButton{
    background-color:#0080C3;
    border:none;
    border-radius: 20px;
    width: 170px;
     height: 50px;
     font-size: 20px;
      margin-top: 25px;
     cursor: pointer;
  }


  #bookButton:hover{
    width: 190px;
    height: 60px;
    font-size: 25px;

  }

  .aboutUs{
    color:black;
    /* padding-left: 10%; */
    /* padding-top:10%; */
    /* padding-right: 10%; */
    background-color: white;
    position: relative;
    width: 100%;
    /* left:-1%; */
    height: 1000px;
  }

  #aboutusimg1{
    position: absolute; 
    right: 8%; 
    top:15%
  }


.aboutush3{
    text-align: justify;
    text-justify: inter-word;
    max-width:55%;
    position: relative;
}

  @media screen and (max-width:950px) {
    
    #aboutusimg1{
        display: none;
    }

    .aboutush3{
        max-width:90%;
    }

  }

  
#timedate {
    font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align:left;
    width: 50%;
    margin: 40px auto;
    color:#fff;
    float: left;
    margin-left: 10%;
    border-left: 3px solid #0080C3;
    padding: 20px;
  }