*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.5s;
  transition: smooth;
}

#mn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 160px auto 0px auto;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  max-width: 1200px;
  background-color: #DFF6FF;
}

#pro{
  font-size: 80px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  margin-top: -60px;
  margin-left: 60px;
  margin-bottom: 0px;
  color: #0080C3;
}
#main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
#ldiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  gap: 10px;
  margin-bottom: 130px;
}
.data {
  
  font-size: 25px;
  /* font-weight: bold; */
  font-family: 'Roboto', sans-serif;
  
}

.label{
 margin-top: 0px;
}
.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.profile-pic input {
  display: none;
}

.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  z-index: 0;
}

.profile-pic .-label {
  cursor: pointer;
  height: 300px;
  width: 300px;
}

.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: rgb(250, 250, 250);
  border-radius: 100px;

  margin-bottom: 0;
}
#rightdiv{
  position: relative;
  right: 10%;
  margin-top: 30px;
}

#phone{
  display:flex; 
  flex-direction:row;
  align-items:center;
}

#save{
  cursor: pointer;
  background-color: #0080C3;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  height: 60px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 80%;
  margin-bottom: -20px;
}

#save:hover{
  background-color: #0059be;
}

#passworddiv{
  display:flex; 
  flex-direction:row; 
  align-items:center;gap:20px
}

#errorBox{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom:0%;
  right:2%; 
  opacity: 0;
  background-color: #cc0000; 
  border-top-left-radius:50px;
  border-bottom-right-radius:30px;
  border-top-right-radius:30px;
  border-bottom-left-radius:50px;
  position:absolute;
   width:300px;
  height:80px; 
  z-index:100; 
  color: white; 
}

#reset{
  border-radius:45px;
  background-color:#0080C3;
  width:300px;
  height:60px;
  display:flex;
  justify-content:center;
  align-items:center; 
  cursor:pointer;
}

#reser{
  font-size: 25px;
  font-weight: bold;
}

#save{
  font-size: 20px;
  font-weight: bold;
}
.value{
  margin-left: 230px;
}

@media screen and (max-width: 1250px) {
  #mn{
    margin: 160px 20px 50px 20px;
  }
  #pro{
    font-size: 60px;
    margin: -40px auto 0px auto;
  }
  #main{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #ldiv{
    justify-content: space-between;
    position: relative;
    margin: 20px auto 20px auto;
    padding: 0px;
  }
  #phone{

    margin: 0px 0px 0px 160px;
    justify-content: center;
    align-content: center;

  }
  .value{
    margin: 0px;
    text-align: center;
  }
  #rightdiv{
    position: relative;
    right: 0%;
    margin: 40px auto 20px auto;
  }

  #passworddiv{
    flex-direction: column;
    margin: 0px auto 0px auto;
    justify-content: center;
    align-content: center;
  }
  .data{
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
  }

  #errorBox{
    position: absolute;
    top: 100%;
    bottom: 5px;
  }
  
}

@media screen and (max-width: 600px)  {
  #mn{
    width: fit-content;
  }
}


@keyframes slideInFromRight {
  0% {

    opacity: 0;
  }
  100% {

    opacity: 1;
  }
}

@keyframes slideOutToRight {
  0% {

    opacity: 1;
  }
  100% {

    opacity: 0;
  }
}